<h1>All Listings</h1>

<%= link_to "Add Listing", new_des_path%>

<br>

<ul>
  <% for listing in @listings %>
    <li>
      <%= link_to "#{listing.title}", listing_path(listing.id) %>
      <%= image_tag listing.picture if listing.picture.attached? %>
    </li>
  <% end %>
</ul>

<%= link_to "Return to collections", collections_path%>