<h1>All Listings</h1>
<p>All available listings across all categories are listed here<p>
<% if current_user %>
  <%= link_to "Add Listing", new_des_path, class: "navLink"%>
<% end %>
<br>

<ul>
  <% for listing in @listings %>
    <li>
      <%= link_to "#{listing.title}", listing_path(listing.id) %>
      <%# <%= image_tag listing.picture if listing.picture.attached? %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Return to collections", collections_path, class: "navLink"%>