<div class="inner cover">
  <h1 class="cover-heading">MillionaireMart™</h1>
  <p>A great place to waste money.</p>
  <br>
  <%= image_tag("BBStacks.jpg", class: "homeImage img-rounded") %>
</div>
<br>
