@import "bootstrap";
 
// A set of very basic styling CSS
* {
  box-sizing:border-box;
  background: #16202C;
  color: #fff;
}

ul, li { 
  margin-left: 0; 
  padding-left: 0; 
  list-style: none;
}
 
.homeImage {
  max-width: 70%;
}
.navLink {
  display: block;
}

.formBox {
  display: inline-block;
}




.sign-up-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.field * {
  text-align: left;
  width: 100%;
}

.field label {
 margin: 16px 0 2px 0;
}

.sign-up-form input {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 4px 4px;
}

.sign-up-form select, .sign-up-form textarea {
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: 4px 4px;
}

.actions input {
  width: 100%;
  border: 1px solid white;
  color: white;
  background-color: #333B3F;
  cursor: pointer;
}

#password-confirm label {
  margin: 2px 0 2px 0;
}

#remember-me-select * {
  width: auto;
}

#remember-me-select label {
  margin-left: 8px;
  display: inline-block;
  align-self: flex-end;
}

#remember-me-select input {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 8px;
}


#remember-me-select{
  margin: 16px 0 2px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: flex-end;
}


@media all and (max-width: 800px) {
  .homeImage {
    max-width: 95%;
  }

}



