@import "bootstrap";
 
// A set of very basic styling CSS
* {
  box-sizing:border-box;
  background: #16202C;
  color: #fff;
}

ul, li { 
  margin-left: 0; 
  padding-left: 0; 
  list-style: none;
}
 
.homeImage {
  max-width: 70%;
}
.navLink {
  display: block;
}


@media all and (max-width: 800px) {
  .homeImage {
    max-width: 95%;
  }
}


